body{
    margin: 0;
    padding: 0;
     background-color: #7acdca;
}
.loader{
   
    height: 150px;
    width: 700px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 149px;
    color: #291f24;
    font-family: 'Raleway', sans-serif;
}
.spinner{
    display: inline-block;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    
    border-top: 15px solid white;
    animation: spin 2s infinite;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}